<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="nwind" connectionString="XpoProvider=MSAccess;Provider=Microsoft.Jet.OLEDB.4.0;Mode=Share Deny None;data source=E:\repos\examples\how-to-merge-report-duplicate-values\ProcessDuplicatesTarget\ProcessDuplicatesTarget\nwind.mdb;user id=;password=;" />
        <add name="nwind 1" connectionString="XpoProvider=MSAccess;Provider=Microsoft.Jet.OLEDB.4.0;Mode=Share Deny None;data source=E:\repos\examples\how-to-merge-report-duplicate-values\ProcessDuplicatesTarget\ProcessDuplicatesTarget\nwind.mdb;user id=;password=;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>